:root {
  /* Color Theme Swatches in Hex */
  --white: #fff;
  --dark-blue: #161459;
  --black-blue: #010326;
  --blue: #192959;
  --light-blue: #3C74A6;
  --green: #5ABFAD;
}

.App {
  background-color: var(--black-blue);
  text-align: left;
  margin: 0 auto;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}
